#!/bin/bash
# {{ ansible_managed }}
# Starts up a Thermos observer process.

OBSERVER_ARGS=(
  --root={{ thermos_state_dir }}
  --port={{ thermos_observer_port }}
  --log_to_disk=NONE
  --log_to_stderr=google:{{ thermos_observer_log_level }}
)

exec {{ thermos_bin_dir }}/{{ thermos_version }}/thermos_observer "${OBSERVER_ARGS[@]}"
