# {{ ansible_managed }}

table filter {
  chain INPUT {
    policy DROP;

    # connection tracking
    mod state state INVALID DROP;
    mod state state (ESTABLISHED RELATED) ACCEPT;

    # allow local connections
    interface lo ACCEPT;

    # respond to ping
    proto icmp icmp-type echo-request ACCEPT;

{% for port_description in bootstrap_open_ports %}
{% for proto, port in port_description.iteritems() %}
    proto {{ proto }} dport {{ port }} ACCEPT;
{% endfor %}
{% endfor %}
    # the rest is dropped by the above policy
  }

  # outgoing connections are not limited
  chain OUTPUT policy ACCEPT;

  # this is not a router
  chain FORWARD policy DROP;
}
