# {{ ansible_managed }}

@def $NET_TRUSTED = 23.92.0.0/16;

table filter {
  chain INPUT {
    policy DROP;

    # connection tracking
    mod state state INVALID DROP;
    mod state state (ESTABLISHED RELATED) ACCEPT;

    # allow local connections
    interface lo ACCEPT;

    # respond to ping
    proto icmp icmp-type echo-request ACCEPT;

    # allow SSH connections
    proto tcp dport ssh ACCEPT;

    # our services to the world
    proto tcp dport (http https ssh) ACCEPT;

{% if 'databases' in group_names %}
    saddr $NET_TRUSTED proto tcp dport 5432 ACCEPT;
{% endif %}
    # the rest is dropped by the above policy
  }

  # outgoing connections are not limited
  chain OUTPUT policy ACCEPT;

  # this is not a router
  chain FORWARD policy DROP;
}
