# {{ ansible_managed }}
# Sets default settings for a Mesos slave daemon for cluster '{{ mesos_cluster_name }}'.

LOGS='{{ mesos_log_dir }}/{{ safe_mesos_cluster_name }}/slave'

export MESOS_MASTER=$(cat /etc/mesos/zk)
export MESOS_CONTAINERIZERS='{{ mesos_containerizers | join(',') }}'
export MESOS_EXECUTOR_REGISTRATION_TIMEOUT='{{ mesos_executor_timeout }}'

export MESOS_PORT='{{ mesos_slave_port }}'
export MESOS_WORK_DIR='{{ mesos_work_dir }}/{{ safe_mesos_cluster_name }}/slave'
