#!/bin/bash
# {{ ansible_managed }}

# Provides a site-specific wrapper against ZooKeeper server script for ZK site:
# {{ site_name }}

{% if jmx_local_only %}
export JMXLOCALONLY=true
{% endif %}
{% if jmx_disable %}
export JMXDISABLE=true
{% endif %}
export JAVA_HOME="{{ jvm_home }}"
export SERVER_JVMFLAGS="{{ jvm_extra_flags }}"
export ZOO_LOG_DIR='{{ log_dir }}/{{ safe_zookeeper_site_name }}'
export ZOOPIDFILE='/var/run/zookeeper/{{ safe_zookeeper_site_name }}.pid'

{{ source_dir }}/zookeeper-{{ zookeeper_version }}/bin/zkServer.sh "$@"
