#!/bin/bash
# {{ ansible_managed }}

# Provides a site-specific wrapper against ZooKeeper server script for ZK site:
# {{ zookeeper_site_name }}

{% if zookeeper_jmx_local_only %}
export JMXLOCALONLY=true
{% endif %}
{% if zookeeper_jmx_disable %}
export JMXDISABLE=true
{% endif %}
export JAVA_HOME="{{ zookeeper_jvm_home }}"
export SERVER_JVMFLAGS="{{ zookeeper_jvm_extra_flags }}"
export ZOO_zookeeper_log_dir='{{ zookeeper_log_dir }}/{{ safe_zookeeper_site_name }}'
export ZOOPIDFILE='/var/run/zookeeper/{{ safe_zookeeper_site_name }}.pid'

{{ zookeeper_source_dir }}/zookeeper-{{ zookeeper_version }}/bin/zkServer.sh "$@"
