# {{ ansible_managed }}

check process zookeeper-{{ site_name | regex_replace(' ', '_') }} with pidfile /var/run/zookeeper/{{ site_name | regex_replace(' ', '_') }}.pid
  start program = "/usr/bin/env ZOOPIDFILE='/var/run/zookeeper/{{ site_name | regex_replace(' ', '_') }}.pid' {{ source_dir }}/zookeeper-{{ zookeeper_version }}/bin/zkServer.sh start'
  stop program = "/usr/bin/env ZOOPIDFILE='/var/run/zookeeper/{{ site_name | regex_replace(' ', '_') }}.pid' {{ source_dir }}/zookeeper-{{ zookeeper_version }}/bin/zkServer.sh stop'
