# {{ ansible_managed }}

check process zookeeper-{{ site_name | regex_replace(' ', '_') }} with pidfile /var/run/zookeeper/{{ site_name | regex_replace(' ', '_') }}.pid
  start program = "/usr/bin/zkServer-{{ site_name | regex_replace(' ', '_') }} start /etc/zookeeper/zoo-{{ site_name | regex_replace(' ', '_') }}.cfg"
  stop program = "/usr/bin/zkServer-{{ site_name | regex_replace(' ', '_') }} stop /etc/zookeeper/zoo-{{ site_name | regex_replace(' ', '_') }}.cfg'
